@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap"); */
@import url("https://use.typekit.net/rog2rat.css");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Source+Serif+4:opsz,wght@8..60,500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.se-btn-tray {
  text-align: center;
}
.se-wrapper {
  min-height: 400px;
}
.sun-editor .se-btn-tray {
  background-color: white;
}
.sun-editor .se-toolbar {
  outline: none !important;
}
.sun-editor {
  border: none !important;
}
.sun-editor-editable {
  font-size: 22px !important;

  font-family: "IBM Plex Sans", sans-serif !important;
}
.sun-editor .se-toolbar.se-toolbar-sticky {
  margin-top: 90px;
}
/* heading */
.sun-editor-editable h2 {
  scroll-margin-top: 5rem !important;
}
/* para */
.sun-editor-editable p {
  font-size: 21px !important;
  color: "#212121";
  /* font-family: "Source Serif 4" !important; */
  font-family: "source-serif-pro" !important;
}
/* sub heading */
.sun-editor-editable h3 {
  font-size: 25px !important;
  color: "#212121";
  margin-bottom: 0px !important;
}
.sun-editor-editable h3 span {
  font-size: 25px !important;
  color: "#212121";
}
.sun-editor-editable h2 {
  font-size: 28px !important;
  color: "#212121";
  margin-bottom: 0px !important;
}
.sun-editor-editable h2 span {
  font-size: 28px !important;
  color: "#212121";
}
.sun-editor-editable img {
  border-radius: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.sun-editor-editable p span {
  font-size: 21px !important;
  color: "#212121";
  /* font-family: "Source Serif 4" !important; */
  font-family: "source-serif-pro" !important;
}
/* .show-container p span {
  font-size: 21px !important;
  color: "#212121";
} */
.show-container img {
  border-radius: 10px;
}
/* .show-container h3 span {
  font-size: 28px !important;
  font-weight: bold;
} */
.blog-card-image-container:hover img {
  transform: scale(1.25) rotate(1deg);
}


/* .active {
  color: "red !important";
  background-color: orange;
} */
/* .floating-link {
  color: "gray";
} */
a {
  text-decoration: none;
  color: black;
}
.active-link-dashboard {
  background-color: aquamarine;
  padding: 1rem;
  color: white;
}
.link-dashboard {
  padding: 1rem;
}
