@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.se-btn-tray {
  text-align: center;
}
.se-wrapper {
  min-height: 400px;
}
.sun-editor .se-btn-tray {
  background-color: white;
}
.sun-editor .se-toolbar {
  outline: none !important;
}
.sun-editor {
  border: none !important;
}
.sun-editor-editable {
  font-size: 22px !important;

  font-family: "IBM Plex Sans", sans-serif !important;
}
.sun-editor .se-toolbar.se-toolbar-sticky {
  margin-top: 90px;
}
.sun-editor-editable p {
  font-size: 21px !important;
  color: "#212121";
}
.sun-editor-editable h3 {
  font-size: 23px !important;
  color: "#212121";
}
.sun-editor-editable img {
  border-radius: 16px;
}
.sun-editor-editable p span {
  font-size: 21px !important;
  color: "#212121";
}
.show-container p span {
  font-size: 21px !important;
  color: "#212121";
}
.show-container img {
  border-radius: 10px;
}
.show-container h3 span {
  font-size: 28px !important;
  font-weight: bold;
}
.blog-card-image-container:hover img {
  transform: scale(1.25) rotate(1deg);
}

.sun-editor-editable h2 {
  scroll-margin-top: 5rem !important;

}
